
@{
    ViewData["Title"] = "HomePage";
    Layout = null;
}

<style>
    .zong {
        width:1200px;
        height:500px;
        margin: 0 auto;
    }
    .layui-card{
        width:500px;
        height:200px;
        float:left;
        margin:5px 5px 5px 5px;
    }
    .demo1 {
        width: 100px;
        height: 50px;
        margin: 0 auto;
        text-align:center;
        margin-top:36px;
        float:left;
    }
</style>

    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <blockquote class="layui-elem-quote"><h2>系统首页</h2></blockquote>
    <div class="zong">
        <div class="layui-card">
            <div class="layui-card-header">摊位数量</div>
            <div class="layui-card-body">
                <div class="demo1">
                    <p>100</p>
                    <p>未租用</p>
                </div>
                <div class="demo1">
                    <p>400</p>
                    <p>已租用</p>
                </div>
                <div class="demo1">
                    <p>500</p>
                    <p>全部摊位</p>
                </div>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">客户总览</div>
            <div class="layui-card-body">
                
                <div class="demo1">
                    <p>100</p>
                    <p>今日新增</p>
                </div>
                <div class="demo1">
                    <p>200</p>
                    <p>昨日新增</p>
                </div>
                <div class="demo1">
                    <p>1000</p>
                    <p>本月新增</p>
                </div>
                <div class="demo1">
                    <p>5000</p>
                    <p>客户总数</p>
                </div>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">收款总览</div>
            <div class="layui-card-body">
                <div class="demo1">
                    <p>100</p>
                    <p>今日收款</p>
                </div>
                <div class="demo1">
                    <p>1000</p>
                    <p>昨日收款</p>
                </div>
                <div class="demo1">
                    <p>10</p>
                    <p>即将到期摊位</p>
                </div>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">快捷入口</div>
            <div class="layui-card-body">
                <div class="demo1">
                    摊位管理
                </div>
            </div>
        </div>
    </div>

