
@{
    ViewData["Title"] = "ContractsManager";
}

<h1>ContractsManager</h1>
<form>
    <div style="float:right;padding-top:40px">

        <button type="button" class="layui-btn layui-btn-sm" lay-event="add" onclick="useradd()">
            <i class="layui-icon">&#xe654;</i>上传合同
        </button>
    </div>
    <div class="layui-form">
        <table class="layui-table" style="width:90%;margin: 0 auto">
            <thead>
                <tr>
                    <th>合同编号</th>
                    <th>上传时间</th>
                    <th>操作</th>

                </tr>
            </thead>
            <tbody id="dt">
            </tbody>

        </table>

    </div>


</form>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layuiadmin/layui/layui.js"></script>
<script>

    //对表单重新渲染  复选框、下拉框等
    layui.use('form', function () {
        var form = layui.form;
        form.render();
    });
    //页面加载
    $(function () {

       
        OrderShow();

    });

  

    //显示
    function OrderShow() {
        $.get('http://localhost:52229/api/rent/ShowContastInfo', function (res) {
           
            $("#dt").empty();
            var html = "";
            $.each(res.members, function (i, v) {
                html += "<tr>";
                html += "<td>" + v.conNo + "</td>";               
               
                html += "<td>" + dateFormat(v.createTime) + "</td>"; 
                html += "<td><a href='#'>下载合同</a></td>";
                html += "</tr>";
            });
            $("#dt").append(html);
           
        });
    }
    //时间转换
    function dateFormat(datestr) {
        var date = new Date(datestr);
        var datestr = date.getFullYear() + "-" + (date.getMonth()+1) + "-" +
            date.getDate() + " " + date.getHours() + ":" +
            date.getMinutes() + ":" + date.getSeconds();
        return datestr;
    }

</script>