
@{
    ViewData["Title"] = "OrderActionList";
    Layout = null;
}

<link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
<form class="layui-form">


    <div class="layui-card">
        <div class="layui-card-header">
            <h1>竞拍订单管理</h1>
        </div>
        <div class="layui-card-body">
            <blockquote class="layui-elem-quote role_search">

                <div class="layui-inline">
                    <label class="layui-form-label">搜索:</label>
                    <div class="layui-input-inline">
                        <input id="orderno" type="text" value="" placeholder="请输入订单号" class="layui-input search_input">
                    </div>
                    <div class="layui-inline">

                        <div class="layui-input-inline">
                            <select name="paystate" id="paystate" lay-verify="required" lay-search="">
                                <option value="">请选择</option>
                                <option value="1">已支付</option>
                                <option value="0">未支付</option>
                            </select>
                        </div>
                    </div>
                    <a class="layui-btn search_btn" onclick="searchData()"><i class="layui-icon layui-icon-search"></i> 查询结果</a>
                </div>
            </blockquote>
        </div>
    </div>

    <div>
        <table class="layui-table" style="width:95%;margin: 0 auto">
            <thead>
                <tr>
                    <th>订单号</th>
                    <th>摊位号</th>
                    <th>所属市场</th>
                    <th>租金</th>
                    <th>租期</th>
                    <th>创建时间</th>
                    <th>支付状态</th>
                    <th>操作</th>
                   
                </tr>
            </thead>
            <tbody id="dt">
            </tbody>

        </table>
     
    </div>
    <div id="demo" style="text-align:center;padding-top:20px">
        <button type="button" id="prev" onclick="Prev()" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon">上一页</i></button>
        <label id="page"></label>
        <button type="button" id="next" onclick="Next()" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon">下一页</i></button>
    </div>

</form>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layuiadmin/layui/layui.js"></script>
<script>

    //对表单重新渲染  复选框、下拉框等
    layui.use('form', function () {
        var form = layui.form;
        form.render();
    });
    //页面加载
    $(function () {

        if (pageindex == 1) {
            $('#prev').attr("disabled", true);
        }
        orderno = $("#orderno").val();
        paystate = $('select[name="paystate"] option:selected').val();
        OrderShow(pageindex);

    });

    var orderno = $("#orderno").val();
    var paystate = $('select[name="paystate"] option:selected').val();



    var pageindex = 1;// 页码
    var pagesize = 2;  //每页数据
    var total = 0;//总数据
    var pages = 0; //得到总页数
    //上一页
    function Prev() {

        $('#next').attr("disabled", false);
        if (pageindex == 1) {
            $('#prev').attr("disabled", true);
        }
        else {
            pageindex = pageindex - 1;
            OrderShow(pageindex);
        }

    }
    //下一页
    function Next() {

        $('#prev').attr("disabled", false);
        if (pageindex >= pages) {
            $('#next').attr("disabled", true);
        }
        else {
            pageindex = pageindex + 1;
            OrderShow(pageindex);
        }

    }
    function searchData() {
        orderno = $("#orderno").val();
        orderno = decodeURI(orderno);
        paystate = $('select[name="paystate"] option:selected').val();
        OrderShow(1);
    }

    //显示
    function OrderShow(pageindex) {
        $.get('http://localhost:52229/api/rent/getorder?orderno=' + orderno + '&paystate=' + paystate + '&pageindex=' + pageindex, function (res) {
            total = res.count;
            pages = Math.ceil(total / pagesize);
            console.log(res);
            $("#dt").empty();
            var html = "";
            $.each(res.orderList, function (i, v) {
                html += "<tr>";
                html += "<td>" + v.orderNo + "</td>";/*isEnable*/
                html += "<td>" + v.booNo + "</td>";
                html += "<td>" + v.markName + "</td>";
                html += "<td>" + v.renPrice + "</td>";
                html += "<td>" + dateFormat(v.zCreateTime) + "至" + dateFormat(v.zEndTime) + "</td>";
                html += "<td>" + dateFormat(v.createTime) + "</td>";
                html += "<td>" + (v.isEnable = "1" ? "已支付" : "未支付") + "</td>";
                html += "<td><a href='/Rent/OrderDesc?orderid=" + v.orderNo + "' >查看</a>&nbsp;<a href='/Rent/ContractsManager?orderid=" + v.id + "' >合同</a></td>";
                html += "</tr>";
            });
            $("#dt").append(html);
            $("#page").html("当前" + pageindex + "页/共" + pages + "页");
        });
    }
    //时间转换
    function dateFormat(datestr) {
        var date = new Date(datestr);
        var datestr = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" +
            date.getDate() + " " + date.getHours() + ":" +
            date.getMinutes() + ":" + date.getSeconds();
        return datestr;
    }

</script>


