

@{
    Layout = null;
}

@model BoothAdmin.Controllers.WeiXinController

<script src="~/jquery-3.3.1.js"></script>
<link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
<script src="~/layuiadmin/layui/layui.js"></script>
<script src="~/jquery.unobtrusive-ajax.js"></script>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GoodsAdd</title>
    <script src="~/ueditor1_4_3_3-utf8-net/uesditor1_4_3_3/ueditor.config.js"></script>
    <script src="~/ueditor1_4_3_3-utf8-net/uesditor1_4_3_3/ueditor.all.js"></script>
    <script src="~/ueditor1_4_3_3-utf8-net/uesditor1_4_3_3/lang/zh-cn/zh-cn.js"></script>
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layuiadmin/layui/layui.js"></script>
    <script src="~/js/jquery-3.3.1.js"></script>
</head>
<body>
    @using (Html.BeginForm("UptUs", "Updus", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <div class="layui-form-item">
            <label class="layui-form-label">会员昵称：</label>
            <div class="layui-input-block">
                <input type="text" name="Mem_Name" id="Mem_Name" lay-verify="title" autocomplete="off" placeholder="填写租户名称5-15个字" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">微信账号：</label>
            <div class="layui-input-block">
                <input type="number" name="Mem_WX" id="Mem_WX" lay-verify="title" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话：</label>
            <div class="layui-input-block">
                <input type="number" name="User_Phone" id="User_Phone" lay-verify="title" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系地址：</label>
            <div class="layui-input-block">
                <select id="Mem_Address">
                    <option>-选择省份-</option>

                </select>
                <select id="CityName">
                    <option>-选择市区-</option>

                </select>
                <select id="CType">
                    <option>-选择县区-</option>

                </select>

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input id="Mem_State" type="radio" />开启
                <input id="Mem_State" type="radio" />关闭
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" id="bt">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">取消</button>
            </div>
        </div>
    }
</body>
</html>
<script>


</script>























