
@{
    ViewData["Title"] = "DeptIndex";
    Layout = null;
}

<link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
<div class="layui-card">
    <div class="layui-card-header">
        <h1>部门管理</h1>
    </div>
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote role_search">
            <div class="layui-inline">
                <a data-method="offset" data-type="auto" onclick="Add()" class="layui-btn layui-btn-normal newsAdd_btn">
                    <i class="layui-icon layui-icon-add-1"></i>
                    添加菜单
                </a>
            </div>

        </blockquote>
    </div>
</div>

<div>
    <table class="layui-table">
        <thead>
            <tr>
                <th>部门名称</th>
                <th>职能描述</th>
                <th>添加时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="dt">
        </tbody>

    </table>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layuiadmin/layui/layui.js"></script>
<script>
    $(function () {
        $.get('http://localhost:52229/api/rbac/getdept', function (res) {
            $("#dt").empty();
            var html = "";
            $.each(res, function (i, v) {
                html += "<tr>";
                html += "<td>" + v.deptName + "</td>";/*isEnable*/
                html += "<td>" + v.deptDesc + "</td>";
                html += "<td>" + v.createTime + "</td>";
                html += "<td>" + (v.isEnable = "1" ? "启用" : "禁用") + "</td>";
                html += "<td><a href='javascript:Upt(" + v.id + ")'>编辑&nbsp;<a href='javascript: Del(" + v.id + ")'>删除</td>";
                html += "</tr>";
            });
            $("#dt").append(html);
        });
    });
    


    function Del(id) {
        if (confirm("确认删除吗")) {
            alert(id);
        }
    }
    //跳转弹出层
    function Add() {
        layui.use('layer', function () { //独立版的layer无需执行这一句
            //var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句


            layer.open({
                type: 1
                , offset: 't' //具体配置参考：offset参数项
                , content:
                    '<div style="width:300px;height:500px;">名称<input type = "text" /></div > '
                , btn: '添加'
                , btnAlign: 'c' //按钮居中
                , shade: 0 //不显示遮罩
                , yes: function () {
                    layer.closeAll();
                }
            });

        });
    }
    
</script>

