
@{
    ViewData["Title"] = "RecordIndex";
    Layout = null;
}

@*<link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-inline">
                <select id="quiz1" name="demo1" onchange="GetCity1()">


                </select>
            </div>
            <div class="layui-input-inline">
                <select id="quiz2" name="demo2" onchange="GetCity2()">


                </select>
            </div>
            <div class="layui-input-inline">
                <select id="quiz3" name="demo3">


                </select>
            </div>
        </div>
    </form>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layuiadmin/layui/layui.js"></script>
    <script>
        $(function () {
            GetCity();
        });

        function GetCity() {
            $.get('http://localhost:52229/api/rbac/getcity?id=1', function (res) {
                $("#quiz1").empty();
                var html = "";
                $.each(res, function (i, v) {
                    html += '<option value="' + v.id + '">' + v.cityName + '</option>';

                });
                $("#quiz1").append(html);
                //对表单重新渲染  复选框、下拉框等
                layui.use('form', function () {
                    var form = layui.form;
                    form.render();
                });
            });
        }
        function GetCity1() {
            var id = $('select[name="demo1"] option:selected').val();
            $.get('http://localhost:52229/api/rbac/getcity?id=' + id, function (res) {
                $("#quiz2").empty();
                var html = "";
                $.each(res, function (i, v) {
                    html += '<option value="' + v.id + '">' + v.cityName + '</option>';

                });
                $("#quiz2").append(html);
                //对表单重新渲染  复选框、下拉框等
                layui.use('form', function () {
                    var form = layui.form;
                    form.render();
                });
            });
        }

        function GetCity2() {
            var id = $('select[name="demo2"] option:selected').val();
            $.get('http://localhost:52229/api/rbac/getcity?id=' + id, function (res) {
                $("#quiz3").empty();
                var html = "";
                $.each(res, function (i, v) {
                    html += '<option value="' + v.id + '">' + v.cityName + '</option>';

                });
                $("#quiz3").append(html);
                //对表单重新渲染  复选框、下拉框等
                layui.use('form', function () {
                    var form = layui.form;
                    form.render();
                });
            });
        }
    </script>*@

<link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
<form class="layui-form">


    <div class="layui-card">
        <div class="layui-card-header">
            <h1>操作日志</h1>
        </div>
        <div class="layui-card-body">
            <blockquote class="layui-elem-quote role_search">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input id="accname" type="text" value="" placeholder="请输入操作人员" class="layui-input search_input">
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">操作日期</label>
                        <div class="layui-input-inline">
                            <select name="dept" id="deptid" lay-verify="required" lay-search="">
                            </select>
                        </div>
                    </div>
                    <a class="layui-btn search_btn" onclick="searchData()"><i class="layui-icon layui-icon-search"></i> 查询</a>
                </div>
            </blockquote>
        </div>
    </div>

    <div>
        <table class="layui-table">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>操作者</th>
                    <th>操作日期</th>
                    <th>IP地址</th>
                    <th>操作记录</th>
                </tr>
            </thead>
            <tbody id="dt">
            </tbody>

        </table>
        <a href="#" onclick="Del()"></a>
    </div>
    <div id="demo" style="text-align:center">
        <button type="button" id="prev" onclick="Prev()" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon">上一页</i></button>
        <label id="page"></label>
        <button type="button" id="next" onclick="Next()" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon">下一页</i></button>
    </div>

</form>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layuiadmin/layui/layui.js"></script>
<script>

    //对表单重新渲染  复选框、下拉框等
    layui.use('form', function () {
        var form = layui.form;
        form.render();
    });
    //页面加载
    $(function () {
        
        if (pageindex == 1) {
            $('#prev').attr("disabled", true);
        }
        accname = $("#accname").val();
        deptid = $('select[name="dept"] option:selected').val();
        AdminShow(pageindex);

    });

    var accname = $("#accname").val();
    var deptid = $('select[name="dept"] option:selected').val();



    var pageindex = 1;// 页码
    var pagesize = 2;  //每页数据
    var total = 0;//总数据
    var pages = 0; //得到总页数
    //上一页
    function Prev() {

        $('#next').attr("disabled", false);
        if (pageindex == 1) {
            $('#prev').attr("disabled", true);
        }
        else {
            pageindex = pageindex - 1;
            AdminShow(pageindex);
        }

    }
    //下一页
    function Next() {

        $('#prev').attr("disabled", false);
        if (pageindex >= pages) {
            $('#next').attr("disabled", true);
        }
        else {
            pageindex = pageindex + 1;
            AdminShow(pageindex);
        }

    }
    function searchData() {
        accname = $("#accname").val();
        accname = decodeURI(accname);
        deptid = $('select[name="dept"] option:selected').val();
        AdminShow(1);
    }

    //显示
    function AdminShow(pageindex) {
        $.get('http://localhost:52229/api/rbac/getadmin?accName=' + accname + '&deptId=' + deptid + '&pageindex=' + pageindex + '&pagesize=' + pagesize, function (res) {
            total = res.count;
            pages = Math.ceil(total / pagesize);
            $("#dt").empty();
            var html = "";
            $.each(res.members, function (i, v) {
                html += "<tr>";
                html += "<td>" + v.accNum + "</td>";/*isEnable*/
                html += "<td>" + v.accName + "</td>";
                html += "<td>" + v.accPhone + "</td>";
                html += "<td>" + v.deptName + "</td>";
                html += "<td>" + dateFormat(v.createTime) + "</td>";
                html += "<td>" + dateFormat(v.updateTime) + "</td>";
                html += "<td>" + (v.isEnable = "1" ? "启用" : "禁用") + "</td>";
                html += '<td><a href="#" onclick=Upt("' + v.id + '")>编辑&nbsp;<a href="#" onclick=Del("' + v.id + '")>删除</td>';//onclick="Del('')
                html += "</tr>";
            });
            $("#dt").append(html);
            $("#page").html("当前" + pageindex + "页/共" + pages + "页");
        });
    }
    //时间转换
    function dateFormat(datestr) {
        var date = new Date(datestr);
        var datestr = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" +
            date.getDate() + " " + date.getHours() + ":" +
            date.getMinutes() + ":" + date.getSeconds();
        return datestr;
    }