
@{
    ViewData["Title"] = "RecordIndex";
    Layout = null;
}

<link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-inline">
            <select id="quiz1" name="demo1" onchange="GetCity1()">

                
            </select>
        </div>
        <div class="layui-input-inline">
            <select id="quiz2" name="demo2" onchange="GetCity2()">

                
            </select>
        </div>
        <div class="layui-input-inline">
            <select id="quiz3" name="demo3">
 
                
            </select>
        </div>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layuiadmin/layui/layui.js"></script>
<script>


    $(function () {
        GetCity();
    });
    function GetCity() {
        $.get('http://localhost:52229/api/rbac/getcity?id=1', function (res) {
            $("#quiz1").empty();
            var html = "";
            $.each(res, function (i, v) {
                html += '<option value="' + v.id + '">' + v.cityName + '</option>';

            });
            $("#quiz1").append(html);
            //对表单重新渲染  复选框、下拉框等
            layui.use('form', function () {
                var form = layui.form;
                form.render();
            });
        });
    }
    function GetCity1() {
        var id = $('select[name="demo1"] option:selected').val();
        $.get('http://localhost:52229/api/rbac/getcity?id=' + id, function (res) {
            $("#quiz2").empty();
            var html = "";
            $.each(res, function (i, v) {
                html += '<option value="' + v.id + '">' + v.cityName + '</option>';
           });
            $("#quiz2").append(html);
            //对表单重新渲染  复选框、下拉框等
            layui.use('form', function () {
                var form = layui.form;
                form.render();
            });
        });
    }


    function GetCity2() {
        var id = $('select[name="demo2"] option:selected').val();
        $.get('http://localhost:52229/api/rbac/getcity?id=' + id, function (res) {
            $("#quiz3").empty();
            var html = "";
            $.each(res, function (i, v) {
                html += '<option value="' + v.id + '">' + v.cityName + '</option>';

            });
            $("#quiz3").append(html);
            //对表单重新渲染  复选框、下拉框等
            layui.use('form', function () {
                var form = layui.form;
                form.render();
            });
        });
    }

           

    


    
</script>

