@model BoothModel.Models.MarketInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layuiadmin/layui/layui.js"></script>
<link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
<script src="~/layuiadmin/jquery.unobtrusive-ajax.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layuiadmin/layui/layui.js"></script>
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
</head>
<body>


    <hr />
    <form>
        <div>
            <div class="layui-form-item">
                <label class="layui-form-label">市场名称:</label>
                <div class="layui-input-block">
                    <input type="text" name="title" id="MarkName" lay-verify="title" autocomplete="off" placeholder="请输入市场名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">市场管理员:</label>
                <div class="layui-input-block">
                    <input type="text" name="title" id="MarkAccName" lay-verify="title" autocomplete="off" placeholder="请输入市场管理员名称" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">市场电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="phone" id="MarkPhone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-form-item">
                    <label class="layui-form-label">地址</label>
                    <div class="layui-input-inline">
                        <select id="quiz1" name="demo1" onchange="GetCity1()">
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select id="quiz2" name="demo2" onchange="GetCity2()">
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select id="quiz3" name="demo3">
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">单选框</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="1" title="开启" checked="">开启
                        <input type="radio" name="sex" value="0" title="关闭">关闭

                    </div>
                </div>

            </div>
            <button type="button" class="layui-btn layui-btn-warm layui-btn-radius" onclick="AddMarkets()" style="margin-right:600px">添加</button>
        </div>

    </form>
</body>
</html>


<script>

    ////对表单重新渲染  复选框、下拉框等
    //    layui.use('form', function () {
    //        var form = layui.form;
    //        form.render();
    //    });

    $(function () {
        GetCity();
    });





    function GetCity() {
        $.get('http://localhost:8060/api/market/getcity?id=1', function (res) {
            $("#quiz1").empty();
            var html = "";
            $.each(res, function (i, v) {
                html += '<option value="' + v.id + '">' + v.cityName + '</option>';

            });
            $("#quiz1").append(html);
            //对表单重新渲染  复选框、下拉框等
            layui.use('form', function () {
                var form = layui.form;
                form.render();
            });
        });
    }
    function GetCity1() {
        var id = $('select[name="demo1"] option:selected').val();
        $.get('http://localhost:8060/api/market/getcity?id=' + id, function (res) {
            $("#quiz2").empty();
            var html = "";
            $.each(res, function (i, v) {
                html += '<option value="' + v.id + '">' + v.cityName + '</option>';

            });
            $("#quiz2").append(html);
            //对表单重新渲染  复选框、下拉框等
            layui.use('form', function () {
                var form = layui.form;
                form.render();
            });
        });
    }


    function GetCity2() {
        var id = $('select[name="demo2"] option:selected').val();
        $.get('http://localhost:8060/api/market/getcity?id=' + id, function (res) {
            $("#quiz3").empty();
            var html = "";
            $.each(res, function (i, v) {
                html += '<option value="' + v.id + '">' + v.cityName + '</option>';

            });
            $("#quiz3").append(html);
            //对表单重新渲染  复选框、下拉框等
            layui.use('form', function () {
                var form = layui.form;
                form.render();
            });
        });
    }

    //$(function () {
    //    ShowProvinces();
    //});

    function AddMarkets() {
        var obj = {};

        obj.MarkName = $("#MarkName").val();
        if (obj.MarkName == null) {
            alert("市场部名称不能为空");
            return false;
        }
        else {
            obj.MarkName = obj.MarkName;
        }

        obj.MarkAccName = $("#MarkAccName").val();
        if (obj.MarkAccName == null) {
            alert("市场管理员不能为空");
            return false;
        }
        else {
            obj.MarkAccName = obj.MarkAccName;
        }

        obj.MarkPhone = $("#MarkPhone").val();
        if (!(/^[1][3,4,5,6,7,8,9][0-9]{9}$/.test(obj.MarkPhone))) {
            alert("手机号码有误，请重填");
            return false;
        }
        else {
            obj.MarkPhone = obj.MarkPhone;
        }
        var Address = $("#quiz1 option:selected").text() + " " + $("#quiz2 option:selected").text() + " " + $("#quiz3  option:selected").text();
        obj.MarkAddress = Address;

        obj.IsEnable = $("input[type='radio']:checked").val();

        $.ajax({
            url: "/Market/Add",
            data: obj,
            dataType: "json",
            type: "post",
            success: function (res) {
                if (res >= 1) {
                    alert("添加成功");
                }
                else {
                    alert("添加失败");
                }
            }
        })

    }

</script>
