
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @*<link rel="stylesheet" href="/layui/css/layui.css" media="all">*@
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />

</head>
<body>
    <div style="float: left;padding-top:10px">
        <div class="layui-inline">
            <div style="float:left"><input class="layui-input" type="text" placeholder="请输入市场名称" id="txt_Name" style="width: 300px;height: 30px;border: aliceblue;" autocomplete="off" /></div>
            <div style="float:left;">
                <select name="conditionSelect" id="conditionSelect" style="width: 300px;height: 30px">
                    <option value="">请选择</option>
                    <option value="1">使用中</option>
                    <option value="0">未使用</option>
                </select>
                <button type="button" data-type="reload" class="layui-btn layui-btn-sm  layui-btn-normal" id="reloadBtn"> <i class="layui-icon">&#xe615;</i>查询</button>
            </div>

        </div>

    </div>
    <div style="float:right;padding-top:40px">

        <button type="button" class="layui-btn layui-btn-sm" lay-event="add" onclick="useradd()">
            <i class="layui-icon">&#xe654;</i>添加
        </button>

    </div>
    <div class="layui-fluid" style="width:90%">

        @*class="lay-filter=" component-form-element"*@
        @*表格数据显示*@
        <div style="padding-top:80px">
            <table id="demo" lay-filter="demo" class="layui-hide"></table>
            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                <a class="layui-btn layui-btn-normal">查看详情</a>

            </script>
        </div>

        <script src="~/layuiadmin/layui/layui.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/layuiadmin/jquery.unobtrusive-ajax.js"></script>
        <script>
            layui.use('table', function () {
                var table = layui.table;

                //第一个实例
                table.render({
                    elem: '#demo'
                    , height: 312
                    , url: '/Market/SelectMarket' //数据接口
                    , page: true //开启分页
                    , title: '市场数据表'
                    , totalRow: true
                    , cols: [[ //表头
                        //{ field: 'id', title: 'ID', sort: true, fixed: 'left', align: "center" }
                        { field: 'markName', title: '市场名称', sort: true, align: "center" }
                        , { field: 'markPhone', title: '市场电话', align: "center" }
                        , { field: 'markAccName', title: '市场管理员', sort: true, align: "center" }
                        , { field: 'markAddress', title: '地址', align: "center" }
                        , { field: 'markSortId', title: '排序', sort: true }
                        , { field: 'isEnable', title: '状态', width: 135, sort: true, align: "center", templet: function (d) { if (d.isEnable == '1') { return '开启' } else { return '关闭' } } }
                        , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150, align: "center" }
                    ]]
                    , id: 'testReload'
                    , limit: 10
                    , parseData: function (res) { //res 即为原始返回的数据
                        var result;
                        if (this.page.curr) {
                            result = res.data.slice(this.limit * (this.page.curr) - 1, this.limit * this.page.curr)
                        }
                        else {
                            result = res.data.slice(0, this.limit);
                        }
                        return {
                            "code": res.status, //解析接口状态
                            "msg": res.nessage, //解析提示文本
                            "count": res.total, //解析数据长度
                            "data": res.data.Item //解析数据列表
                        };
                    }
                });

                //调用button按钮事件
                table.on('tool(demo)', function (obj) {
                    var data = obj.data;
                    json = JSON.stringify(data);
                    switch (obj.event) {
                        case 'edit':
                            var index = layer.open({
                                type: 2,
                                title: "编辑修改页面",
                                area: ["1000px", "600px"],
                                fix: false,
                                maxmin: true,
                                shadeClose: true,
                                shade: 0.4,
                                skin: 'layui-layer-rim',
                                content: ["/Market/UpdateMarket?id=" + data.id, "no"],

                            });
                            break;
                        case 'del':
                            var delIndex = layer.confirm('真的删除id为' + data.markName + "的信息吗?", function (delIndex) {

                                $.ajax({
                                    url: '/Market/DelMarket',
                                    type: "post",
                                    data: { id: data.id },
                                    success: function (suc) {
                                        if (suc > 0) {
                                            obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                            layer.close(delIndex);
                                            console.log(delIndex);
                                            layer.msg("删除成功");
                                        } else {
                                            layer.msg("删除失败");
                                        }
                                    }
                                });
                                layer.close(delIndex);
                            });
                            break;
                    }
                });
                //查询方法

                $("#reloadBtn").click(function (ev) {
                    console.info("reload");

                    var txtName = $("#txt_Name").val();
                    if (txtName == null) {
                        txtName = "";
                    }

                    var conditionSelect = $("#conditionSelect option:selected").val();
                    alert(conditionSelect);

                    table.reload('testReload', {
                        url: '/Market/SearchMarket'
                        , where: {
                            name: txtName,
                            isables: conditionSelect
                        }
                    });

                });
            });

        </script>
    </div>
</body>
</html>
<script>
    /*  ========== 添加弹出层父页面  button 事件 ==============*/
    function useradd() {
        layui.use('layer', function () {
            layer.open({
                type: 2,
                content: ["/Market/AddMarket"],   //添加页，后台controller转发到指定页
                area: ["1000px", "600px"],
                title: ['用户添加'],
                fixed: false,
                //maxmin: true,
                shadeClose: true,
                end: function () {  //刷新页面
                    location.reload();
                }
            })
        });
    }


</script>